extends ../layout.pug

block navbar-links
  span: a(href="/admin/") Dashboard
  |
  |
  span: a(href="/admin/musings/") Posts
  |
  |
  span: a(href="/admin/projects/") Projects
  |
  |
  span: a(href="/admin/projects/") Writing
