extends layout.pug

block variables
  - hardTitle = config.person.name

block append resources
  link(rel="stylesheet" type="text/css" href="/assets/css/homepage.css")
  script(src='/assets/js/homepage.js' async)

block append head
  noscript
    style.
      #typewriter {
        display: none;
      }
      #typewriter__fallback {
        font-size: inherit;
        margin-top: 0.25rem;
        margin-bottom: 1rem;
      }

block append header
  p#typewriter__fallback Part-time polymath
  p#typewriter(aria-hidden="true")

block content
  p Hey. How's it going?
  p I'm Benjamin, and I do a lot.
  p Most of what I do I post <a href="https://seewitheyesclosed.com" rel="noopener" target="_blank">in</a> <a href="https://verboseguacamole.com" target="_blank" rel="noopener">other</a> <a href="https://kesslercascades.com" target="_blank" rel="noopener">places</a>, so I use this site as a chance to pull it all together. Here, I'll give you a tour to my online presence.
  p I have a blog, <a href="https://seewitheyesclosed.com" rel="noopener" target="_blank">See With Eyes Closed</a>, where I post once or twice a week about how everyday people can use technology responsibly.
  p As an aspiring novelist, I've written several drafts of novels but never with the same program. I've jumped between different solutions until I finally decided to code myself a novel editor. Which I did. It is now available for free as <a href="https://verboseguacamole.com" target="_blank" rel="noopener">Verbose Guacamole</a>, the ultimate solution for people looking for customizability, version control, and a clean user interface.
  p Earlier this year, I took my school's Capstone class, where I chose a research topic and did a variety of projects on it, including <a href="https://kesslercascades.com" target="_blank" rel="noopener">a website</a> and <a href="https://youtu.be/5au7ac6eYMI?t=790" rel="noopener" target="_blank">a TED-Ed talk</a>. My chosen topic was space junk: why it's an issue, what needs to be done, and how normal people like us can help.
  p I also have <a href="/social/" target="_blank" rel="noopener">a variety of accounts</a> on social media and other services where you can follow me.
