extends layout.pug

block variables
  - hardTitle = config.person.name

block append resources
  link(rel="stylesheet" type="text/css" href="/assets/css/homepage.css")
  script(src='/assets/js/homepage.js' async)

block append head
  noscript
    style.
      #typewriter {
        display: none;
      }
      #typewriter__fallback {
        font-size: inherit;
        margin-top: 0.25rem;
        margin-bottom: 1rem;
      }

block append header
  p#typewriter__fallback Part-time polymath
  p#typewriter(aria-hidden="true")

block content
  article
    p Hey. How's it going?
    p I'm Benjamin, and I do a lot.
    p Most of what I do I post <a href="https://seewitheyesclosed.com" rel="noopener" target="_blank">in</a> <a href="https://verboseguacamole.com" target="_blank" rel="noopener">other</a> <a href="https://kesslercascades.com" target="_blank" rel="noopener">places</a>, so I use this site as a chance to pull it all together. Think of it as an overview of my online presence.
    
    h2 Quick Start
    p Looking for something to do? Here are some ideas.
    ul
      li Check out my blog, <a href="https://seewitheyesclosed.com" target="_blank" rel="noopener">See With Eyes Closed</a> and read a couple articles.
      li Browse <a href="/projects/">my coding projects</a> and see if there's anything you find fun on there. I've got a few more I'm working on that should go there soon!
      li Read some of <a href="/writing/">my published writing</a>. So far, it's only a couple of self-published short stories, but I've been doing more writing recently so there is more to come. If you want to hear about it when it happens, I recommend subscribing to <a href="https://digest.seewitheyesclosed.com" target="_blank" rel="noopener">my weekly digest</a>, where I post statuses on my ongoing projects.
      li Test out my brand-new novel editor, <a href="https://verboseguacamole.com" target="_blank" rel="noopener">Verbose Guacamole</a>. It also has <a href="https://verboseguacamole.com/news/" target="_blank" rel="noopener">a blog of its own</a>!
      li <a href="/customize-feed/">Create a customized RSS feed</a> so you can get updates about the things you're interested in immediately.
      li Learn about the crisis of space junk by watching my Ted-Ed talk, <a href="https://youtu.be/5au7ac6eYMI?t=790" rel="noopener" target="_blank"><em>The Pollution to Our Problems</em></a>
      li Follow me on <a href="/social/">my various social media accounts</a> such as <a target="_blank" rel="noopener me" href="https://fosstodon.org/@benjaminhollon">Mastodon</a>.
